@font-face {
  font-family: "Inter";
  src: url("inter-v20-latin-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Open Sans";
  src: url("open-sans-v44-latin-regular.woff2") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

html,
body {
  background-color: #000000;
  color: #ffffff;
  width: 100%;
  height: auto;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  overflow-y: auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.texto {
  font-family: "Inter", sans-serif;
  width: 100%;
  padding: 0px 8vw 0px 8vw;
}
.nome {
  font-family: "Inter";
  font-weight: 700;
  font-size: 5vw;
  color: #aaaaaa;
}
.nome1 {
  font-family: "Inter";
  font-weight: 700;
  font-size: 5vw;
  color: #aaaaaa;
  margin-top: -35vw;
}
.titulo {
  font-family: "Inter", sans-serif;
  font-size: 6vw;
  font-weight: 700;
  line-height: 1.2;
  color: #eeeeee;
  margin-bottom: 10vw;
}
.descricao {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 5vw, 3rem);
  line-height: 1.3;
  color: #aaaaaa;
  margin-top: 10vw;
}
.descricao strong {
  color: #eeeeee;
  font-weight: 700;
}

.copyright {
  font-size: clamp(12px, 1.5vw, 20px);
  color: #aaaaaa;
  margin-left: 8vw;
  margin-bottom: 20px;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  text-align: left;
}
.grid-projetos {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0 20px;
}
.grid-projetos svg {
  border-radius: 10px;
  overflow: hidden;
}
.espaco {
  margin-bottom: 15vw;
}
.espaco1 {
  margin-bottom: 22vw;
}
.hero {
  width: 100%;
  height: 100dvh;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  position: relative;
  margin: 0px 0px 0px 0px;
}
.projeto {
  width: calc(100% - 40px);
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin: 20px auto;
}
.hero svg {
  width: 100%;
  height: 100dvh;
  display: block;
}
.projeto svg {
  width: 100%;
  height: 100%;
  display: block;
}
@media screen and (max-width: 1024px) {
  .hero {
    aspect-ratio: 9 / 16;
  }
}
@media screen and (max-width: 1024px) {
  .projeto {
    aspect-ratio: 1 / 1;
  }
}
.logo-uminimo {
  width: 60vw;
  height: auto;
  overflow: hidden;
  position: flex;
  margin: 20px auto;
  margin-bottom: 100px;
}

/* Alinha os ícones do menu de navegação com o texto */
.menu-navegacao img {
  display: inline-block;
  vertical-align: middle;
}
.menu-navegacao {
  position: fixed; /* Mantém o menu fixo na tela ao rolar */
  width: 280px;
  height: 60px;
  background-color: #000000;
  border-radius: 10px; /* Cria o efeito arredondado do seu layout */
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1000; /* Garante que fique acima de tudo */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}
.menu-navegacao a,
.paginacao {
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
}
@media (min-width: 481px) {
  .menu-navegacao {
    right: 40px;
    bottom: 40px; /* Ou ajuste para o centro vertical se preferir */
  }
}
@media (max-width: 480px) {
  .menu-navegacao {
    right: 40px;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%); /* Centraliza perfeitamente no topo */
  }
}

.link {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: clamp(1rem, 5vw, 3rem);
  color: #eeeeee;
  padding: 0px;
  text-decoration: none; /* Remove o sublinhado padrão que fica grudado */
  border-bottom: 0.5vw solid #ffffff; /* Cria o novo "sublinhado" */
  padding-top: 0px; /* AQUI É A MÁGICA: controla a distância do traço */
  display: inline-flex;
  align-items: center;
}
.link:hover,
.link-svg:hover + .link-svg {
  color: #aaaaaa;
  border-bottom: 0.5vw solid #aaaaaa;
  transition: all 0.3s ease;
}
.link-svg {
  width: 7vw;
  height: 28vw;
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px;
  margin-top: -1.3vw;
}
